body {
    background: #fbfbf9;
    font-family:
          "Source Sans Pro", sans-serif; /* "Source Sans Pro", */
	text-shadow: 1px 1px 1px #fff;
    line-height: 1.6em;
    text-align: center;
    display: flex;
    align-items: center;
    display: -webkit-box;
    -webkit-box-align: center;
    margin: 0;
    /*
     margin: 60px auto;
     width: 70%;
     text-align: center;  
     display: flex; 
     align-items: center;
     display: -webkit-flex; 
     -webkit-align-items: center;  
     */
}

.outer_container {
	max-width: 1200px;
	margin: 0 auto;
	max-height: 100%;
}

.inner_container {
	padding: 40px 20px 70px;
}

h1, h2 {
    font-size: 2em;
}

p {
    font-size: 1.6em;
    line-height: 1.4em;
    color: #333;
}

.nav {
	font-size: 16px;
	list-style-type: none;
	padding: 0px;
	padding-top: 40px;
}

.nav li {
    display: inline;
    margin-right: 10px;
}

/*, .container ul li */

a {
    text-decoration: none;
    color: #23ccbe;
}
a:hover {
    text-decoration: underline;
    color: #01aa9c;
}

a:visited {
    color: #01aa9c;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
